<!doctype html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="text-center mt-5">
        <h1>Flask Auth Демо</h1>
        <h5>Автор: XAN</h5>
        <a href="{{ url_for('register') }}" class="btn btn-primary mt-3">РЕГИСТРАЦИЯ</a>
        <a href="{{ url_for('login') }}" class="btn btn-primary mt-3">ВХОД</a>
        <a href="{{ url_for('protected') }}" class="btn btn-primary mt-3">VIP КОНТЕНТ</a>
    </div>
</body>
</html>
